* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 70;
  height: 70;
  background-size: 100%;
  
  
}
.imagen
{
  background-color:rgb(233, 158, 88);
 
  background-repeat: no-repeat;
  width: 100%;
  height: 120%;
  
}

#canvas {
  display: block;
}
